@{
    ViewBag.Title = "АРМ Начальника ДЕПО";
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    @*<link rel="stylesheet" type="text/css" href="~/Content/report/report.css">*@
}

@section scripts {

    @*<script>
            $('body').addClass('img-header-global');
            $('#page-width').addClass('average');
        </script>*@

    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/common.js" type="text/javascript"></script>
    <script src="~/Scripts/view/api_locomotiv.js" type="text/javascript"></script>
    <script src="~/Scripts/view/head_depo.js" type="text/javascript"></script>
}

<div class="modal fade" id="modal_confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_confirm"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="message_confirm"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ok">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_edit_action" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Править работы</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-xl-12 mb-1">
                            <div class="alert" id="modal-alert"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-12 mb-1">
                            <label for="ref_unit" class="col-form-label">Ремонтируемый агрегат:</label>
                            <select class="form-control" id="ref_unit" name="ref_unit" required></select>
                            <div class="invalid-feedback">
                                Укажите агрегат!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-12 mb-1">
                            <label for="ref_damage" class="col-form-label">Обнаруженная неисправность:</label>
                            <select class="form-control" id="ref_damage" name="ref_damage" size='1' required></select>
                            <div class="invalid-feedback">
                                Укажите неисправность!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-12 mb-1">
                            <label for="ref_operation" class="col-form-label">Выполненная операция:</label>
                            <select class="form-control" id="ref_operation" name="ref_operation" required></select>
                            <div class="invalid-feedback">
                                Укажите операцию!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @*pattern="\d+(\.\d{2})?"*@
                        <div class="col-xl-6 mb-1">
                            <label for="human_hour" class="col-form-label">Трудозатраты:</label>
                            <input type="text" class="form-control" id="human_hour" name="human_hour" pattern="\d+(*\.\d)?" required>
                            <div class="invalid-feedback">
                                Укажите трудозатраты!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Ок</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card border-secondary mb-3">
            <div class="card-header bg-secondary text-white">
                <h3>Тепловозы в ДЕПО</h3>
            </div>
            <div class="card-body">
                <table class='display compact hover row-border' id="list-locomotives" style="width:100%;"></table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card border-secondary mb-3">
            <div class="card-header bg-secondary text-white">
                <h3>Работы по тепловозу</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <table class='display compact hover row-border' id="list-operations" style="width:100%;"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


